<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Robocode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RobocodeBeta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RobocodeMvP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RobocodeTheta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0054000A1371298C0008E5AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0080AE7112648B7200631E8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00DA2AA912863B77003F9E66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD76F620486A84900D96B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
